*{
	font-size:100%;
}

@font-face{
	font-family:open_sans;
	src:url(opensans-regular-webfont.woff);
}

p{

	/*font-family:Times,"Times New Roman",serif;
	font-family:open_sans;
	font-family: Arial, Verdana, sans-serif;
	*/
	font-family: Yanone Kaffeesatz;
	font-variant:small-caps;
	font-weight:bold;
	font-style:italic;
	font-size:1em;
}