p{
	color:red;
	text-transform:uppercase;
	/*text-transform:lowercase;
	text-decoration:capitalize
	text-align:none*/

	text-decoration:justify;
	text-indent:20px;
	line-height:25px;
	direction:ltr;
	/**
	rtl
	ltr
	*/

	letter-spacing:5px;
	word-spacing:4px;
}
h1{
	text-align:left;
	text-decoration:underline;
	text-shadow: 3px 3px 4px red;
}
h2{
	text-align:right;
	text-decoration:overline;
}
h3{
	text-align:center;
	text-decoration:line-through;
	
}